{% load i18n %}

{% block subject %}
{% blocktrans %}Восстановление пароля на сайте test.psyhometric.ru{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте test.psyhometric.ru.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
{% trans "Ваше имя пользователя, если вы его забыли:" %} {{ user.get_username }}

{% trans "Благодарим за использование нашего сайта!" %}

{% blocktrans %}Команда test.psyhometric.ru{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте test.psyhometric.ru.{% endblocktrans %}</p>

<p>{% trans "Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>
<p>{% trans "Ваше имя пользователя, если вы его забыли:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Благодарим за использование нашего сайта!" %}</p>

<p>{% blocktrans %}Команда test.psyhometric.ru{% endblocktrans %}</p>
{% endblock html_body %}
